body {
    padding: 20px;
}

#appHeader {
    background-color: darkblue;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Calibri', 'Tahoma', 'verdana', 'sans-serif';
}

#subtitle {
    font-size: 14px;
}

#title {
    font-size: 30px;
}

.appHeaderImage {
    position: relative;
    top: 10px;
}